<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies DB</title>

    <style>
        h1,
        h3 {
            display: table;
            margin: 20px auto;
        }
        
        table {
            margin-top: 50px;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        footer {
            display: table;
            margin: 20px auto;
            bottom: 0;
            position: relative;
        }
        
        div a {
            text-decoration: none;
        }
        
        div.ftr {
            position: relative;
            top: 50px;
        }
        
        hr.table {
            margin-top: 10px;
        }
        
        a.nav {
            text-decoration: none;
            background-color: #dddddd;
            padding: 5px;
            border-radius: 3px;
            position: absolute;
            right: 10px;
            top: 23px;
            color: #000;
        }
        
        input[type=text] {
            border: none;
            border-bottom: 2px solid #171717;
            transition: width 5s ease-out;
            height: 30px;
            border-radius: 5px;
        }
        
        input[type=text]:focus {
            width: 80%;
        }
        
        .update {
            position: absolute;
            top: 30px;
            left: 20px;
            border: none;
            padding: 5px;
            cursor: pointer;
        }
        
        .submit {
            margin: 20px;
            padding: 5px;
        }
        
        .note {
            margin-top: 40px;
        }
    </style>

</head>

<body>
    <h1>Movies DB</h1>

    <a class="nav" href="/search">SEARCH DB</a>
    <hr>
    <div class="table">

        <table>
            <tr>
                <th>ID</th>
                <th>Movie</th>
                <th>Release-Date</th>
                <th>Actor</th>
                <th>Actress</th>
                <th>Director</th>
            </tr>
            <!-- id Year  Name Actor Actress Director -->
            <% Items.forEach(element => {  %>

                <tr>
                    <td>
                        <%= element.Id %>
                    </td>
                    <td>
                        <%= element.Name %>
                    </td>
                    <td>
                        <%= element.Year %>
                    </td>
                    <td>
                        <%= element.Actor %>
                    </td>
                    <td>
                        <%= element.Actress %>
                    </td>
                    <td>
                        <%= element.Director %>
                    </td>
                </tr>

                <% }) %>
        </table>

    </div>
    <p class="note">NOTE : Update table after insertion, Restart node server if table content not showing up. </p>

    <hr class="table">

    <div class="insert">

        <h3>---: INSERT INTO DB :---</h3>

        <form action="/" method="post">

            <p></p> <input type="text" autocomplete="off" name="Id" placeholder="ID Eg : 7">
            <p></p> <input type="text" autocomplete="off" name="Name" placeholder="Name Eg : Parasite">
            <p></p> <input type="text" autocomplete="off" name="Year" placeholder="Date : 2019">
            <p></p> <input type="text" autocomplete="off" name="Actor" placeholder="Actor : Kang-ho Song">
            <p></p> <input type="text" autocomplete="off" name="Actress" placeholder="Actress : Yeo-jeong Cho">
            <p></p> <input type="text" autocomplete="off" name="Director" placeholder="Director : Bong Joon Ho">
            <button class="update" type="submit">UPDATE TABLE</button>
            <button class="submit" type="submit">Submit</button>
        </form>

    </div>



    <footer>
        <div>

            <hr class="ftrhr">

            <a href="https://www.linkedin.com/in/vignesh-kundar/">vignesh-kundar</a>

        </div>


    </footer>


</body>

</html>