<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies DB</title>

    <style>
        h1 {
          display: table;
          margin : 20px auto;
        }
        table {
            margin-top: 50px;
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        footer {
            display: table;
            margin : 20px auto;
            bottom :0;
            position: relative;
        }
      
        div a {
            text-decoration: none;
        }
        div.ftr {
            position: relative;
            top : 50px;
        }
        hr.table {
            margin-top: 10px;
        }
        a.nav {
            text-decoration: none;
            background-color: #dddddd;
            padding : 5px;
            border-radius: 3px;
            position : absolute;
            right : 10px;
            top : 23px;
        }
        .note{
            margin-top :40px;
        }
     
    </style>

</head>

<body>
    <h1>Movies DB</h1>

    <a class="nav" href="/search">SEARCH DB</a>
    <hr>
<div class="table">

    <table>
        <tr>
            <th>ID</th>
            <th>Movie</th>
            <th>Release-Date</th>
            <th>Actor</th>
            <th>Actress</th>
            <th>Director</th>
        </tr>
  <!-- id Year  Name Actor Actress Director -->
 <% Items.forEach(element => {  %>

    <tr>
        <td> <%= element.Id %> </td>
        <td> <%= element.Name %></td>
        <td> <%= element.Year %></td>
        <td> <%= element.Actor %></td>
        <td> <%= element.Actress %></td>
        <td> <%= element.Director %></td>
    </tr>

  <% }) %>
</table>   

</div>
<p class="note">NOTE : if the table is not showing up restart server and refresh web page.. >__< </p>

<hr class="table">
   
<div class="insert">

<h3>INSERT INTO DB</h3>

<form action="/" method="post">

<p>ID : </p> <input type="text" name="Id" placeholder="ID Eg : 7">
<p>Movie : </p> <input type="text" name="Name" placeholder="Name Eg : Parasite">
<p>Release-Date : </p> <input type="text" name="Year" placeholder="Date : 2019" >
<p>Actor : </p> <input type="text" name="Actor" placeholder="Actor : Kang-ho Song">
<p>Actress : </p> <input type="text" name="Actress" placeholder="Actress : Yeo-jeong Cho">
<p>Director : </p> <input type="text" name="Director" placeholder="Director : Bong Joon Ho">
<button type="submit">Spam Here ! To update Table</button>
</form>

</div>
   
    
      
<footer>
    <div>
    
        <hr class="ftrhr">  

        <a href="https://www.linkedin.com/in/vignesh-kundar/">vignesh-kundar</a>
   
    </div>


</footer>
 

</body>
</html>